<p id="notice"><%= notice %></p>


<h1>Tareas</h1>

    <div class="container">
  <div class="row">
    <% @tareas.each do |tarea| %>
    <div class="col-sm">
      <%= render tarea %>
    </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Tarea', new_tarea_path %>
